.rightBar {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
  
    .bottom-wrapper {
      display: flex;
      gap: 20px;
  
      .liste-vehicule {
        flex: 5;
        background: #fff;
      }
  
      .pia-chart {
        flex: 2;
        background: #fff;
      }
    }
  }
  