.rightBar {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
  
    .rightBar-wrapper {
      // Ajoutez des styles spécifiques à la section supérieure ici.
    }
  
    .bottom-wrapper {
      display: flex;
      gap: 20px;
  
      .liste-vehicule {
        flex: 5;
        // Ajoutez des styles spécifiques à ListeVehicule ici.
      }
  
      .pia-chart {
        flex: 2;
        // Ajoutez des styles spécifiques à PiaChart ici.
      }
    }
  }
  