.topBar {
    height: 60px;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 240px; /* Assurez-vous que cela correspond à la largeur de la sidebar */
    width: calc(100% - 240px); /* Ajusté pour exclure la sidebar */
    z-index: 1000;
    box-sizing: border-box;
  
    .search-bar {
      display: flex;
      align-items: center;
      max-width: 400px;
      padding: 8px;
      border: 1px solid #e0e0e0;
      border-radius: 8px;
      background-color: #f7f8fa;
  
      input {
        border: none;
        outline: none;
        background: transparent;
        width: 100%;
        margin-left: 10px;
        font-size: 14px;
      }
    }
  
    .user-profile {
      display: flex;
      align-items: center;
  
      .icon {
        font-size: 18px;
        color: #555;
        margin-left: 20px;
        cursor: pointer;
      }
    }
  }
  