.carburantTabInfo{
    .carburantTabInfo_wrapper{
        display: flex;
        flex-direction: column;
        .carburantTabInfo-left{
            .ant-table-tbody .ant-table-cell.vehicule-column {
                font-weight: 500;
                background: #1a73e821; // Bleu professionnel
                font-size: .750rem;

              }
              .ant-table-tbody .ant-table-cell{
                font-size: .750rem;
              }

              .even-row {
                background-color: #ffffff; // Blanc pour les lignes impaires
              }
              .odd-row {
                background-color: #f9f9f9; // Gris clair pour les lignes paires
              }
              .ant-table-summary {
                background-color: #f9f9f9; // Gris clair pour le résumé
                font-weight: bold; // Optionnel : rendre le texte du résumé plus visible
              }
        
            .carburant_h2{
                font-size: .9rem;
                margin-bottom: 10px;
            }
        }
        .carburantTabInfo-center{
            width: 100%;
            .ant-table-tbody .ant-table-cell.vehicule-column {
                font-weight: 500;
                background: #1a73e821;
            }
            .even-row {
                background-color: #ffffff;
              }
              .odd-row {
                background-color: #f9f9f9;
              }
        }
        .carburantTabInfo-bottom{
            width: 100%;
            .ant-table-tbody .ant-table-cell.vehicule-column {
                font-weight: 500;
                background: #1a73e821;
              }
              .ant-table-tbody .ant-table-cell{
                font-size: .750rem;
              }
              .even-row {
                background-color: #ffffff;
              }
              .odd-row {
                background-color: #f9f9f9;
              }
        }
    }
}