.carburantTabInfo{
    .carburantTabInfo_wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        .carburantTabInfo-left{
            border: 1px solid #eaeaea;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

            .ant-table-tbody .ant-table-cell.vehicule-column {
                font-weight: 500;
                background: #1a73e821; // Bleu professionnel
                font-size: .750rem;

              }
              .ant-table-tbody .ant-table-cell{
                font-size: .750rem;
              }

              .even-row {
                background-color: #ffffff; // Blanc pour les lignes impaires
              }
              .odd-row {
                background-color: #f9f9f9; // Gris clair pour les lignes paires
              }
              .ant-table-summary {
                background-color: #f9f9f9; // Gris clair pour le résumé
                font-weight: bold; // Optionnel : rendre le texte du résumé plus visible
              }
        
            .carburant_h2{
                font-size: .9rem;
                margin-bottom: 10px;
            }
        }
        .carburantTabInfo-center{
            width: 100%;
            border: 1px solid #eaeaea;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

            .ant-table-tbody .ant-table-cell.vehicule-column {
                font-weight: 500;
                background: #1a73e821;
            }
            .even-row {
                background-color: #ffffff;
              }
              .odd-row {
                background-color: #f9f9f9;
              }
        }
        .carburantTabInfo-bottom{
            border: 1px solid #eaeaea;
            padding: 10px;
            border-radius: 10px;
            width: 100%;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            .ant-table-tbody .ant-table-cell.vehicule-column {
                font-weight: 500;
                background: #1a73e821;
              }
              .ant-table-tbody .ant-table-cell{
                font-size: .750rem;
              }
              .even-row {
                background-color: #ffffff;
              }
              .odd-row {
                background-color: #f9f9f9;
              }
        }
    }
}