.statistique{
    height: 100%;
    .statistique_wrapper{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .statistique_top{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            background: #fff;
/*             background-color: #f9f9f9;
 */            border-radius: 10px;
            margin-bottom: 10px;
            border: 1px solid #ececec;
            .statistique_top_right{
                display: flex;
                flex-direction: column;
                gap: 5px;
                .static-h2{
                    font-weight: 700;
                    font-size: 18px;
                    color: #3b3b3b;
                }
                .static_desc{
                    font-size: .7rem;
                    color: #6d6d6d;
                }
            }
            .statistique_top_left{
                display: flex;
                gap: 20px;
                align-items: center;
                .date-picker {
                    width: 100px;
                    border-radius: 5px;
                  }
            }
        }
        .statistique_bottom{
            width: 100%;
            display: flex;
            gap: 20px;
            .static_bottom_right{
                flex:2;
            }
            .static_bottom_left{
                display: flex;
                align-items: flex-end;
                flex: 5;
                background: #fff;
                box-shadow: 0px 0px 10px -8px rgba(0, 0, 0, 0.75);
                border: 1px solid #ececec;
                border-radius: 10px;
            }
        }
    }
}