.statistique_item{
    .static_wrapper{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .static_row{
            position: relative;
            flex: 1;
            overflow: hidden;
            background: #fff;
            box-shadow: 0px 0px 10px -8px rgba(0, 0, 0, 0.75);
            padding: 15px 20px;
            border: 1px solid #f1f1f1;
            border-radius: 20px;
            gap: 10px;
            cursor: pointer;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &:hover {
                transform: translateY(-10px);
                box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
            }
        }
    }
}