.sidebar {
  width: 240px;
  height: 100vh;
/*   background: linear-gradient(180deg, #2d3a4b, #1e2a38);
 */  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 background: #ffffff;
  color: #a4b2c2!important;
  border-right: 1px solid #e0e0e0;
}

.menu-item,
.submenu-item {
  transition: all 0.3s ease;
  &:hover {
    background-color: #4b89ff;
    color: #ffffff;
    transform: translateX(5px);
  }}

.icon {
  font-size: 50px;
  transition: color 0.3s ease;
  color: #4b4a4a;
  &:hover {
    color: #ffffff;
  }
}

.sidebar-header {
  position: relative;
/*   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 20px; */
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
  .sidebar-logo_v{
    width: 70%;
    height: 70%;
  }

  .sidebar-h1 .title {
    background-color: #4b89ff;
    color: #ffffff;
    font-size: 1.9rem;
    font-weight:900;
    padding: 5px 9px;
    border-radius: 50%;
    display: inline-block;
  }

  .sidebar-h1 {
    color: #4b89ff;
    font-size: 1.4rem;
    letter-spacing: 3px;
    text-align: center;
  }
}

/* .submenu {
  border-left: 2px solid #4b89ff;
  padding-left: 15px;
  .submenu-item {
    font-size: 16px;
    color: #a4b2c2!important;
    padding: 5px 0;

    &:hover {
      color: #ffffff;
    }
  }
} */


.sidebar {
  .ant-menu-item,
  .ant-menu-submenu-title {
    font-size: .870rem;
    color: #4b4a4a !important; // Couleur personnalisée
  }


  .ant-menu-item-selected,
  .ant-menu-submenu-selected {
    background-color: #4b89ff !important;
    color: #ffffff !important;
  }

  .ant-menu-item:hover,
  .ant-menu-submenu-title:hover {
    color: #ffffff !important;
    background-color: #4b89ff !important;
  }
}
