.sidebar {
  width: 240px;
  height: 100vh;
  background: linear-gradient(180deg, #2d3a4b, #1e2a38);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #a4b2c2!important;
}

.menu-item,
.submenu-item {
  transition: all 0.3s ease;
  &:hover {
    background-color: #4b89ff;
    color: #ffffff;
    transform: translateX(5px);
  }}

.icon {
  font-size: 50px;
  transition: color 0.3s ease;
  &:hover {
    color: #ffffff;
  }
}

.sidebar-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 20px;

  .sidebar-h1 .title {
    background-color: #4b89ff;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    padding: 5px 9px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 20px;
    margin-right: 2px;
  }

  .sidebar-h1 {
    color: #ffffff;
    font-size: 1.4rem;
    letter-spacing: 3px;
    text-align: center;
  }
}

/* .submenu {
  border-left: 2px solid #4b89ff;
  padding-left: 15px;
  .submenu-item {
    font-size: 16px;
    color: #a4b2c2!important;
    padding: 5px 0;

    &:hover {
      color: #ffffff;
    }
  }
} */

.sidebar {
  .ant-menu-item,
  .ant-menu-submenu-title {
    font-size: 1rem;
    color: #a4b2c2 !important; // Couleur personnalisée
  }

  .ant-menu-item-selected,
  .ant-menu-submenu-selected {
    background-color: #4b89ff !important;
    color: #ffffff !important;
  }

  .ant-menu-item:hover,
  .ant-menu-submenu-title:hover {
    color: #ffffff !important;
    background-color: #4b89ff !important;
  }
}
