.chauffeur{
    background: #fff;
    .chauffeur_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        padding: 15px;
        margin: 20px 0;
        background: linear-gradient(145deg, #ffffff, #f3f3f3); 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); // Ombre élégante
        border-radius: 10px;
        border: 1px solid #e0e0e0;
        transition: transform 0.2s, box-shadow 0.2s;

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
        }

        .chauffeur_top_left {
          display: flex;
          flex-direction: column;
          gap: 8px;
      
          .chauffeur_h2 {
            font-size: 15px;
            color: #040270d2;
            font-weight: bold;
            text-transform: uppercase;
          }
      
          .chauffeur_breadcrumb {
            .ant-breadcrumb-link {
              color: #1890ff;
              font-size: .800rem;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      
        .chauffeur_top_right {
          display: flex;
          align-items: center;
          gap: 16px;
      
          .chauffeur_search {
            width: 250px;
            border-radius: 8px;
            border-color: #d9d9d9;
      
            &:hover {
              border-color: #1890ff;
            }
      
            .ant-input-prefix {
              color: #1890ff;
            }
          }
      
          .chauffeur_filter {
            background-color: #fff;
            border: 1px solid #d9d9d9;
            border-radius: 8px;
      
            &:hover {
              border-color: #1890ff;
              background-color: #f0f5ff;
            }
          }
      
          .chauffeur_btn {
            background-color: #1890ff;
            color: #fff;
            border: none;
            border-radius: 8px;
      
            &:hover {
              background-color: #40a9ff;
            }
          }
        }
    }
    .chauffeur_bottom{
        background: linear-gradient(145deg, #ffffff, #f3f3f3); 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); // Ombre élégante
        border-radius: 10px;
        border: 1px solid #e0e0e0;
        transition: transform 0.2s, box-shadow 0.2s;
    }
}
  