.carburantBord{
    .carburantBord-wrapper{
        .carburantBord_top{
            padding: 10px;
            .carburantBord-h2{
                font-weight: 300;
                font-size: 1.2rem;
                border-bottom: 1px solid #eaeaea;
                margin-bottom: 10px;
            }
        }
        .carburantBord_bottom{
            padding: 10px;
            .carburantBord-h2{
                font-weight: 300;
                font-size: 1.2rem;
                border-bottom: 1px solid #eaeaea;
                margin-bottom: 10px;
            }
        }
    }
}