.carburantBord{
    .carburantBord-wrapper{
        .carburantBord_top{
            border : 1px solid #e0e0e0;
            padding: 15px;
        }
        .carburantBord_bottom{
            border : 1px solid #e0e0e0;
            padding: 15px;
        }
    }
}